/* opacidades */
/* colores de texto */
/* fuentes */
/*fondos*/
/* colores de botones */
.btn-primary, .btn1, .btn2, .btn__primary {
  border-radius: 30px;
  border: none;
  background-color: orange;
  font-weight: 600;
}
.btn-primary a, .btn1 a, .btn2 a, .btn__primary a {
  text-decoration: none;
  color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

.btn-tamano, .btn-mod {
  width: 15rem;
  height: 3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inicio {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../asset/images/playa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-blend-mode: darken;
}

.logo__ubicacion {
  position: absolute;
  left: 25%;
  top: 2.5%;
}
.logo__ubicacion img {
  width: 4rem;
  height: 4rem;
}

.main__title {
  position: fixed;
  top: 3.5%;
  left: 30%;
  color: #f4f4f4;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.subtitle1 {
  position: fixed;
  bottom: 60%;
  left: 40%;
  color: #f4f4f4;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.subtitle2 {
  position: fixed;
  bottom: 50%;
  left: 25%;
  color: #f4f4f4;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}

.subtitle3 {
  position: fixed;
  bottom: 43%;
  left: 37%;
  color: #f4f4f4;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.btn__primary {
  position: fixed;
  bottom: 23%;
  left: 63%;
  padding: 1rem 5rem;
}

.comenzamos {
  background-color: #fdf6ea !important;
}

.comenzamos__content {
  display: grid;
  grid-template-areas: "comenzamos__img title title" "comenzamos__img text1 text1" "comenzamos__img btn1 btn2";
  grid-template-columns: 1.25fr 0.75fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  margin: 0;
}

.comenzamos__img {
  grid-area: comenzamos__img;
  margin-top: 3rem;
  text-align: center;
}

.title {
  grid-area: title;
  text-align: center;
  align-content: flex-end;
  font-family: "Oswald", sans-serif;
  color: #323232;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.text1 {
  grid-area: text1;
  font-family: "Roboto", sans-serif;
  margin-right: 4rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.btn1 {
  grid-area: btn1;
  justify-self: center;
  align-self: center;
}

.btn1:hover {
  background-color: rgb(233, 95, 95);
}

.btn2 {
  grid-area: btn2;
  align-self: center;
  justify-self: center;
}

.btn2:hover {
  background-color: rgb(233, 95, 95);
}

.comenzamos__img--feliz {
  width: 40rem;
  height: 30rem;
  border-radius: 3rem;
  margin: 0 4rem;
}

.comenzamos__img--feliz0 {
  width: 40rem;
  height: 30rem;
  border-radius: 3rem;
  margin: 0 4rem;
}

.btn-mod {
  text-align: center;
}

.comenzamos__img {
  position: relative;
  width: 40rem;
  height: 30rem;
  overflow: hidden;
}

.comenzamos__img:hover .comenzamos__img--feliz0 {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
  opacity: 0;
}

.comenzamos__img .comenzamos__img--feliz {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.comenzamos__img:hover .comenzamos__img--feliz {
  opacity: 1;
}

.promociones {
  background-color: #504128;
}

.promo__title {
  color: #f4f4f4;
  text-align: center;
  margin-top: 2rem;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

.promo__contenedor {
  display: flex;
  flex-direction: row;
}

.box-contenedor {
  border: 3px solid blue;
  width: 100%;
  height: 3rem;
  text-align: center;
  color: #f4f4f4;
  margin: 1rem;
}

/*# sourceMappingURL=style.css.map */
