/* opacidades */
/* colores de texto */
/* fuentes */
/*fondos*/
/* colores de botones */
.btn-primary, .box-contenedor .btn__promo, .btn1, .btn2, .btn__primary {
  border-radius: 30px;
  border: none;
  background-color: orange;
  font-weight: 600;
}
.btn-primary a, .box-contenedor .btn__promo a, .btn1 a, .btn2 a, .btn__primary a {
  text-decoration: none;
  color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

.btn-tamano, .box-contenedor .btn__promo, .btn-mod {
  width: 15rem;
  height: 3rem;
}

.card__promo--box, .box-contenedor { /*caja de ofertas en promo*/
  width: 20rem;
  height: 34rem;
  text-align: center;
  background-color: #fdf6ea;
  color: #323232;
  margin: 1rem;
  overflow: hidden;
  object-fit: cover;
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.card__promo--img, .box-contenedor img { /*imagen de promo*/
  width: 100%;
  height: 50%;
}

/*animacion de boton*/
.btn-animacion, .box-contenedor .btn__promo, .btn-mod, .btn__primary {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav__bar {
  background-color: rgba(50, 50, 50, 0.0235294118);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  position: fixed;
  margin-top: 0;
  z-index: 100;
}
.nav__bar .nav__bar--empresa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bar .nav__bar--empresa .nav_bar--logo {
  width: 4rem;
  height: 4rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
}
.nav__bar .nav__bar--empresa .main__title {
  margin: 1rem 1rem;
  color: #f4f4f4;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}
.nav__bar .nav__bar--empresa .main__title--comenzamos {
  margin: 1rem 1rem;
  color: #323232;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}
.nav__bar .nav__bar--empresa .main__title--promociones {
  margin: 1rem 1rem;
  color: #f4f4f4;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}
.nav__bar .nav__bar--empresa .main__title--viajes {
  margin: 1rem 1rem;
  color: #323232;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}
.nav__bar ul {
  display: flex;
}
.nav__bar ul li {
  margin: 0 1rem;
  list-style: none;
}
.nav__bar ul li .link--index {
  /*link de la barra de nav*/
  color: #f4f4f4;
  text-decoration: none;
  position: relative;
  padding: 5px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}
.nav__bar ul li .link--comenzamos {
  /*link de la barra de nav*/
  color: #323232;
  text-decoration: none;
  position: relative;
  padding: 5px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}
.nav__bar ul li .link--promociones {
  /*link de la barra de nav*/
  color: #f4f4f4;
  text-decoration: none;
  position: relative;
  padding: 5px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}
.nav__bar ul li .link--viajes {
  /*link de la barra de nav*/
  color: #323232;
  text-decoration: none;
  position: relative;
  padding: 5px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}

.nav__bar--comenzamos {
  background-color: #fdf6ea;
}

.nav__bar--promo {
  background-color: #504128;
}

.nav__bar--viajes {
  background-color: #fdf6ea;
}

.inicio {
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../asset/images/index/playa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-blend-mode: darken;
}

.subtitle1 {
  position: fixed;
  bottom: 60%;
  left: 20%;
  color: #f4f4f4;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.subtitle2 {
  position: fixed;
  bottom: 50%;
  left: 25%;
  color: #f4f4f4;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}

.subtitle3 {
  position: fixed;
  bottom: 43%;
  left: 37%;
  color: #f4f4f4;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
}

.btn__primary {
  position: fixed;
  bottom: 23%;
  left: 63%;
  padding: 1rem 5rem;
}

.btn__primary:hover,
.btn__primary:focus,
.btn__primary:active {
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: scale(1.2);
}

.comenzamos {
  background-color: #fdf6ea;
}

.comenzamos__content {
  display: grid;
  grid-template-areas: "title title title" "comenzamos__img text1 text1" "comenzamos__img btn1 btn2";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  justify-self: center;
  justify-content: center;
}

.comenzamos__img {
  grid-area: comenzamos__img;
  margin-top: 1rem;
  text-align: center;
}

.title {
  grid-area: title;
  text-align: center;
  align-content: flex-end;
  font-family: "Oswald", sans-serif;
  color: #323232;
  font-size: 3.5rem;
  margin-top: 8rem;
}

.text1 {
  grid-area: text1;
  font-family: "Roboto", sans-serif;
  margin-right: 4rem;
  margin-top: 0.1rem;
  font-size: 1.5rem;
  text-align: center;
}

.btn1 {
  grid-area: btn1;
}

.btn2 {
  grid-area: btn2;
}

.comenzamos__img--feliz {
  width: 40rem;
  height: 30rem;
  /*border-radius: 3rem;*/
  margin: 0 4rem;
  z-index: 1;
}

.comenzamos__img--feliz0 {
  width: 40rem;
  height: 30rem;
  /*border-radius: 3rem;*/
  margin: 0 4rem;
}

.btn-mod {
  align-self: center;
  justify-self: center;
  margin-bottom: 1.5rem;
}

.btn-mod:hover,
.btn-mod:focus,
.btn-mod:active {
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: scale(1.2);
}

.comenzamos__img {
  position: relative;
  width: 40rem;
  height: 30rem;
  overflow: hidden;
}

.comenzamos__img .comenzamos__img--feliz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.comenzamos__img:hover .comenzamos__img--feliz {
  opacity: 1;
}

.promociones {
  background-color: #504128;
}

.title__promociones {
  display: inline-flex;
  color: #f4f4f4;
  width: 100%;
  margin-top: 6rem;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  justify-self: center;
  justify-content: center;
}

.promo__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  width: 80%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  background-color: olive;
}

.box-contenedor h3 {
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
}
.box-contenedor .box-contenedor__text {
  text-align: center;
  margin-top: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  text-decoration: underline;
}
.box-contenedor .btn__promo {
  margin-top: 1rem;
}
.box-contenedor .btn__promo:hover,
.box-contenedor .btn__promo:focus,
.box-contenedor .btn_promo:active {
  box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
  transform: scale(1.2);
  background-color: rgb(231, 139, 108);
}

ul,
ol {
  margin-left: 3rem;
  text-align: left;
}

.viajes {
  background-color: #fdf6ea;
}

.title__viaje {
  display: inline-flex;
  color: #323232;
  width: 100%;
  margin-top: 6rem;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  justify-self: center;
  justify-content: center;
}

.conteiner-viajes {
  display: grid;
  grid-template-areas: "conteiner-box1 conteiner-box2 conteiner-box3 conteiner-box4" "conteiner-box5 conteiner-box6 conteiner-box7 conteiner-box8";
  grid-template-columns: 0.5fr 1.5fr 0.5fr 1.5fr;
  grid-auto-rows: auto;
  gap: 1rem;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.conteiner-box1 {
  grid-area: conteiner-box1;
}

.conteiner-box2 {
  grid-area: conteiner-box2;
}

.conteiner-box3 {
  grid-area: conteiner-box3;
}

.conteiner-box4 {
  grid-area: conteiner-box4;
}

.conteiner-box5 {
  grid-area: conteiner-box5;
}

.conteiner-box6 {
  grid-area: conteiner-box6;
}

.conteiner-box7 {
  grid-area: conteiner-box7;
}

.conteiner-box8 {
  grid-area: conteiner-box8;
}

/*# sourceMappingURL=style.css.map */
