@use "../utilities/variables" as *;

.btn-primary {
  //formato de botones
  border-radius: 30px;
  border: none;
  background-color: $btn-primary-color;
  font-weight: 600;

  a {
    text-decoration: none;
    color: $primary-color;
    font-family: $primary-text;
  }
}

.btn-tamano {
  //tamaño de los botones
  width: 15rem;
  height: 3rem;
}
.card__promo--box { /*caja de ofertas en promo*/
  width: 20rem;
  height: 34rem;
  text-align: center;
  background-color: #fdf6ea;
  color: $secondary-color;
  margin: 1rem;
  overflow: hidden;
  object-fit: cover;
  font-size: 1.25rem;
  font-family: $primary-text;
  text-align: center;
}

.card__promo--img { /*imagen de promo*/
  width: 100%;
  height: 50%;
}

@mixin link($color) {
  /*link de la barra de nav*/
  color: $color;
  text-decoration: none;
  position: relative;
  padding: 5px;
  font-size: 1rem;
  font-weight: 900;
  font-family: $secondary-text;
  letter-spacing: 0.2rem;
}

@mixin logo($text-color) {
  // texto de logo en nav
  margin: 1rem 1rem;
  color: $text-color;
  font-family: $secondary-text;
  font-weight: 200;
  font-size: 1.5rem;
}
@mixin title($text-color){
      display:inline-flex;
  color: $text-color;
  width: 100%;
  margin-top: 6rem;
  font-family: $secondary-text;
  font-size: 2.5rem;
  justify-self: center;
  justify-content: center;
}

