/* opacidades */
$opacity: rgba(0, 0, 0, 0.3);

/* colores de texto */ 
$primary-color: #f4f4f4;

/* fuentes */
$primary-text: "Roboto", sans-serif;
$secondary-text:"Oswald", sans-serif;

/*fondos*/
$bg-primary-color:#fdf6ea;