@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;
.comenzamos {
  background-color: $bg-primary-color !important;
}

.comenzamos__content {
  display: grid;
  grid-template-areas:
    "comenzamos__img title title"
    "comenzamos__img text1 text1"
    "comenzamos__img btn1 btn2";
  grid-template-columns: 1.25fr 0.75fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  margin: 0;
}

.comenzamos__img {
  grid-area: comenzamos__img;
  margin-top: 3rem;
  text-align: center;
}
.title {
  grid-area: title;
  text-align: center;
  align-content: flex-end;
  font-family: $secondary-text;
  color: $secondary-color;
  font-size: 2.5rem;
  margin-top: 1rem;
}
.text1 {
  grid-area: text1;
  font-family: $primary-text;
  margin-right: 4rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}
.btn1 {
  grid-area: btn1;
  @extend .btn-primary;
  justify-self: center;
  align-self: center;
}
.btn1:hover {
  background-color: rgb(233, 95, 95);
}
.btn2 {
  grid-area: btn2;
  align-self: center;
  @extend .btn-primary;
  justify-self: center;
}
.btn2:hover {
  background-color: rgb(233, 95, 95);
}
.comenzamos__img--feliz {
  width: 40rem;
  height: 30rem;
  border-radius: 3rem;
  margin: 0 4rem;
}
.comenzamos__img--feliz0 {
  width: 40rem;
  height: 30rem;
  border-radius: 3rem;
  margin: 0 4rem;
}
.btn-mod {
  @extend .btn-tamano;
  text-align: center;
}

.comenzamos__img {
  position: relative;
  width: 40rem;
  height: 30rem;
  overflow: hidden;
}

.comenzamos__img:hover .comenzamos__img--feliz0 {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
  opacity: 0;
}

.comenzamos__img .comenzamos__img--feliz {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.comenzamos__img:hover .comenzamos__img--feliz {
  opacity: 1;
}
