@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;
.promociones {
  background-color: $bg-promociones-color;
}
/*main h2 {
  color: $primary-color;
  text-align: center;
  margin-top: 3rem;
  font-family: $secondary-text;
  font-size: 2.5rem;
  border: 4px solid blue;
 }*/

.promo__contenedor {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  border: 3px solid yellow;
  width: 100rem;
  align-self: center;
  justify-self: center;
}
.box-contenedor {
  border: 3px solid blue;
  width: 32%;
  height: 25rem;
  text-align: center;
  color: $primary-color;
  margin: 1rem;
  overflow: hidden;
  object-fit: cover;
  img {
    width: 100%;
  }
}
