@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;
@use "../utilities/animaciones" as *;
.promociones {
  background-color: $bg-promociones-color;
}
.title__promociones {
 @include title($primary-color)  ;
 }

.promo__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  width: 80%;
  align-self: center;
  justify-self: center;
  justify-content: center;
  background-color: olive;
}
.box-contenedor {
  @extend .card__promo--box;

  h3 {
    margin: 5px 0;
    font-family: $primary-text;
  }

  img {
    @extend .card__promo--img;
  } 
  .box-contenedor__text{
    text-align: center;
    margin-top: 0.5rem;
    font-family: $primary-text;
    font-weight: bolder;
    text-decoration: underline

  }
  .btn__promo {
    @extend .btn-primary;
    @extend .btn-tamano;
    margin-top: 1rem;
    @extend .btn-animacion;
  }
  .btn__promo:hover,
  .btn__promo:focus,
  .btn_promo:active {
    box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
    transform: scale(1.2);
    background-color: rgb(231, 139, 108);
  }
}

ul,
ol {
  margin-left: 3rem;
  text-align: left;
}
